@model AccountDetailsViewModel

@{
    var user = await UserManager.GetUserAsync(User);


    bool accountDetailsActive = false;

    if (Context.Request.Path.Value!.Equals("/Account/Details") == true)
    {
        accountDetailsActive = true;
    }

    bool accountSecurityActive = false;

    if (Context.Request.Path.Value!.Equals("/Account/Security") == true)
    {
        accountSecurityActive = true;
    }

    bool accountSavedCoursesActive = false;

    if (Context.Request.Path.Value!.Equals("/Account/SavedCoursesContent") == true)
    {
        accountSavedCoursesActive = true;
    }


    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}

@if (user != null)
{
    <img src="~/images/uploads/profiles/@user.ProfileImage" alt="@user.FirstName @user.LastName" />

    <form id="change-img" enctype="multipart/form-data" method="post" asp-action="UploadProfileImage" asp-controller="Account">
        <input id="fileUploader" type="file" name="file" hidden/>
        <label for="fileUploader" class="btn btn-circle btn-circle-sm">Change Profile Picture</label>
    </form>


    <h5>@($"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}")</h5>
    <p>@Model.BasicInfo.Email</p>
    <nav>
        <a class="@(accountDetailsActive ? "btn-theme-s" : "")" asp-action="Details" asp-controller="Account"><i class="fa-solid fa-gear"></i>Account Details</a>
        <a class="@(accountSecurityActive ? "btn-theme-s" : "")" asp-action="Security" asp-controller="Account"><i class="fa-regular fa-lock"></i>Account Security</a>
        <a class="@(accountSavedCoursesActive ? "btn-theme-s" : "")" asp-action="SavedCoursesContent" asp-controller="Account"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
        <a class="details-btn" asp-action="signout" asp-controller="Auth"><i class="fa-solid fa-arrow-right-from-bracket"></i>Sign Out</a>
    </nav>

}