
@model CourseIndexViewModel

@{
    ViewData["Title"] = "Single Course";
}


<h1>@Model.Title</h1>



@*
<section id="single-course">

    <div class="header-background-image"></div>
    <div class="header-background-image-cover"></div>





    <div class="container">
        <div class="course-header">

            <div class="navigation">
                <a>Home</a>
                <span>>></span>
                <a>Courses</a>
                <span>>></span>
                <a>@Model.Title</a>
            </div>

            <div class="course-header-information">
                @if(Model.IsBestSeller == true)
                {
                    <span>Best Seller</span>
                }

                <h2 class="course-header-title">@Model.Title</h2>
                <p class="course-header-description">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                <div class="course-header-info">
                    <div class="reviews">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span> (@Model.LikesInNumbers reviews)</span>
                    </div>
                    <div class="likes">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <span> 5K likes</span>
                    </div>

                    <div class="hours">
                        <i class="fa-regular fa-clock"></i>
                        <span>@Model.Hours hours</span>
                    </div>

                </div>


                <div class="header-author-info">
                    <div class="img-container">
                        <img src="~/images/other/author-image.svg" />
                    </div>
                    <div class="text-container">
                        <span>Created By</span>
                        <span>@Model.Author</span>
                    </div>
                </div>


            </div>


        </div>
    </div> 
</section>

    












*@

































































































@* <div>
    <h2>Course Id: @Model.Id</h2>
    <h2>Course Title: @Model.Title</h2>

</div> *@